<h2>Uploaded images</h2>
{% for image in page %}
<img src="{{ image.get_absolute_url }}?width=100">
{% endfor %}

<ul class="pagination pagination-centered">
    {% if page.has_previous %}
    <li><a href="?page=1"><<</a></li>
    <li><a href="?page={{ page.previous_page_number }}"><</a></li>
    {% endif %}

    {% for i in page.paginator.page_range %}
    <li {% if page.number == i %} class="active" {% endif %}><a href="?page={{i}}">{{i}}</a></li>
    {% endfor %}

    {% if page.has_next %}
    <li><a href="?page={{ page.next_page_number }}">></a></li>
    <li><a href="?page={{ page.paginator.num_pages }}">>></a></li>
    {% endif %}
</ul>

<h2>Upload</h2>
<form method='POST' action='' enctype="multipart/form-data">
    <input type="file" name="attachment">
    <input type="submit" value="Upload!">
</form>
